.iu-main-cont {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.iu-label {
    margin-top: 5px;
}

.iu-textArea {
    margin-top: 5px;
    width: 20vw;
    max-width: 300px;
    min-width: 100px;
}