.cw-col {
    display: flex;
    flex-direction: column;
}

.cw-row {
    display: flex;
    flex-direction: row;
}

.cw-main-cont {
    align-items: flex-start;
    height: 100vh;
}

.cw-method-cont {
    justify-content: space-around;
    width: 100%;
}

.cw-form-body {
    display: block;
    width: 30vw;
    height: 800px;
    background-color: white;
    overflow-x: hidden;
    
}

.cw-btns-cont {
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
}