.qv-row {
    display: flex;
    flex-direction: row;
}

.qv-col {
    display: flex;
    flex-direction: column;
}

.qv-select-cont {
    align-items: flex-end;
}

.qv-col div {
    color: white;
}

.qv-result-body {
    height: 900px;
    width: 30vw;
    color: white;
    background-color: black;
    border: 1px solid white;
    overflow-x: hidden;
    font-size: large;
}